{% extends 'FitBuddy_app/base.html' %}

{% block header %}
Diet Plan
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'FitBuddy_app/plan.css' %}">
{% endblock %}

{% block content %}
    <div class="background">
        <div class="bubbles"><img src="/media/welcome-screen-shape.svg" alt=""></div>
        <div class="circle circle-1"></div>
        <div class="circle circle-2"></div>
    </div>
    <section class="plan-section">
        <div class="title">
            <h1 class="display-small-b">Ketogenic Diet</h1>
            <p class="body">Delicious, low-carb meals designed to fuel your body and support weight loss through ketosis.</p>
        </div>
        <div class="main-image">
            <img src="/media/plan-image.png" alt="avocado-eggs-salad">
        </div>
    </section>

    <section class="features">
        <div class="cards">
            <div class="card">
                <img class="icon" src="/media/icons/timer.svg"/>
                <div class="content">
                  <div class="text-wrapper body-medium-b">Duration</div>
                  <div class="caption">Recommended for 8 weeks.</div>
                </div>
              </div>
              <div class="card">
                <img class="icon" src="/media/icons/goal.svg"/>
                <div class="content">
                  <div class="text-wrapper body-medium-b">Goal</div>
                  <div class="caption">Weight Loss, Energy Boost.</div>
                </div>
              </div>
        </div>

        <div class="description text-container">
            <p class="h5-bold">Description</p>
            <hr>
            <p class="body">
                The Ketogenic Diet is a low-carb, high-fat eating plan designed to shift your body into a metabolic state called ketosis. By drastically reducing carbohydrate intake and replacing it with healthy fats, your body learns to burn fat for energy, promoting weight loss and improved energy levels.
            </p>
        </div>

        <div class="benefits text-container">
            <p class="h5-bold">Benefits</p>
            <hr>
            <ol class="body">
                <li>
                    <p><strong>Promotes Fat-Burning: </strong>Shifts your metabolism to burn fat instead of carbs for fuel.</p>
                </li>
                <li>
                    <p><strong>Regulates Blood Pressure: </strong>Helps maintain steady glucose levels, ideal for managing diabetes.</p>
                </li>
                <li>
                    <p><strong>Enhances Energy Levels: </strong>Provides sustained energy by relying on fat stores.</p>
                </li>
                <li>
                    <p><strong>Boosts Mental Clarity: </strong>Supports brain function with ketones as a fuel source.</p>
                </li>
                <li>
                    <p><strong>Controls Appetite: </strong>High-fat meals keep you full longer, reducing cravings.</p>
                </li>

            </ol>
        </div>
    </section>

    <section class="grocery">
        <p class="h5-bold">Ulimate Keto grocery list</p>
        <div class="grocery-list">
            <div class="card">
              <img class="icon" src="/media/icons/check.svg"/>
              <p class="text-wrapper">Proteins: Chicken, Beef, Eggs, Salmon</p>
            </div>
            <div class="card">
              <img class="icon" src="/media/icons/check.svg"/>
              <p class="text-wrapper">Healthy Fats: Avocado, Olive Oil, Coconut Oil</p>
            </div>
            <div class="card">
              <img class="icon" src="/media/icons/check.svg"/>
              <div class="text-wrapper">Vegetables: Broccoli, Spinach, Zucchini</div>
            </div>
            <div class="card">
              <img class="icon" src="/media/icons/check.svg"/>
              <div class="text-wrapper">Snacks: Nuts, Cheese, Keto Bars</div>
            </div>
        </div>
    </section>

    <section class="recipes">
        <div class="carousel-container">
            <p class="h5-bold">Popular Recipes on Keto</p>
            <div class="carousel">
                <div class="recipe-card">
                    <img src="/media/keto-pancakes.png" alt="Recipe 1" class="recipe-image" />
                    <div class="card-content">
                        <div class="text-column">
                            <h3 class="recipe-name">Keto pancakes</h3>
                            <p class="recipe-details">Carbs: 7g, Fats: 61g, Protein: 38g.</p>
                        </div>
                        <img class="icon" src="/media/icons/goto-icon.svg" />
                    </div>
                </div>
                <div class="recipe-card">
                    <img src="/media/peanut-butter-chicken.jpg" alt="Recipe 2" class="recipe-image" />
                    <div class="card-content">
                        <div class="text-column">
                            <h3 class="recipe-name">Peanut butter chicken</h3>
                            <p class="recipe-details">Carbs: 10g, Fats: 20g, Protein: 20g</p>
                        </div>
                        <img class="icon" src="/media/icons/goto-icon.svg" />
                    </div>
                </div>
                <div class="recipe-card">
                    <img src="/media/scrambled-eggs.png" alt="Recipe 2" class="recipe-image" />
                    <div class="card-content">
                        <div class="text-column">
                            <h3 class="recipe-name">Scrambled Eggs</h3>
                            <p class="recipe-details">Carbs: 10g, Fats: 20g, Protein: 20g</p>
                        </div>
                        <img class="icon" src="/media/icons/goto-icon.svg" />
                    </div>
                </div>
                <div class="recipe-card">
                    <img src="/media/food-img-6.png" alt="Recipe 2" class="recipe-image" />
                    <div class="card-content">
                        <div class="text-column">
                            <h3 class="recipe-name">Oatmeal with fruit & nuts</h3>
                            <p class="recipe-details">Carbs: 10g, Fats: 20g, Protein: 20g</p>
                        </div>
                        <img class="icon" src="/media/icons/goto-icon.svg" />
                    </div>
                </div>
                
                
            </div>
        </div>
        
    </section>

{% endblock %}